ClienteBd/xml-resources/web-service-references/WSBDatos/wsdl/localhost_21107/WSBD/WSBDatos.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WSSoap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WSSoap/" name="WSBDatos">
<types>
<xsd:schema>
<xsd:import namespace="http://WSSoap/" schemaLocation="http://localhost:21107/WSBD/WSBDatos?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="altas">
<part name="parameters" element="tns:altas"/>
</message>
<message name="altasResponse">
<part name="parameters" element="tns:altasResponse"/>
</message>
<message name="modifica">
<part name="parameters" element="tns:modifica"/>
</message>
<message name="modificaResponse">
<part name="parameters" element="tns:modificaResponse"/>
</message>
<message name="buscar">
<part name="parameters" element="tns:buscar"/>
</message>
<message name="buscarResponse">
<part name="parameters" element="tns:buscarResponse"/>
</message>
<message name="baja">
<part name="parameters" element="tns:baja"/>
</message>
<message name="bajaResponse">
<part name="parameters" element="tns:bajaResponse"/>
</message>
<portType name="WSBDatos">
<operation name="hello">
<input wsam:Action="http://WSSoap/WSBDatos/helloRequest" message="tns:hello"/>
<output wsam:Action="http://WSSoap/WSBDatos/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="altas">
<input wsam:Action="http://WSSoap/WSBDatos/altasRequest" message="tns:altas"/>
<output wsam:Action="http://WSSoap/WSBDatos/altasResponse" message="tns:altasResponse"/>
</operation>
<operation name="modifica">
<input wsam:Action="http://WSSoap/WSBDatos/modificaRequest" message="tns:modifica"/>
<output wsam:Action="http://WSSoap/WSBDatos/modificaResponse" message="tns:modificaResponse"/>
</operation>
<operation name="buscar">
<input wsam:Action="http://WSSoap/WSBDatos/buscarRequest" message="tns:buscar"/>
<output wsam:Action="http://WSSoap/WSBDatos/buscarResponse" message="tns:buscarResponse"/>
</operation>
<operation name="baja">
<input wsam:Action="http://WSSoap/WSBDatos/bajaRequest" message="tns:baja"/>
<output wsam:Action="http://WSSoap/WSBDatos/bajaResponse" message="tns:bajaResponse"/>
</operation>
</portType>
<binding name="WSBDatosPortBinding" type="tns:WSBDatos">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="altas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modifica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="baja">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSBDatos">
<port name="WSBDatosPort" binding="tns:WSBDatosPortBinding">
<soap:address location="http://localhost:21107/WSBD/WSBDatos"/>
</port>
</service>
</definitions>